PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://remixdock_user:remixdock_password@localhost:5433/remixdock_db?schema=public
FRONTEND_URL=http://localhost:3000
JWT_ACCESS_SECRET=remixdock_access_secret_token_change_in_production
JWT_REFRESH_SECRET=remixdock_refresh_secret_token_change_in_production
